.git
.env
.env.*
**/.env
**/.env.*
!.env.example
data
**/*.sqlite*
.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
**/*.pyc
**/*.pyo
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache
.coverage
**/.coverage
htmlcov
**/htmlcov
**/status
tmp
